:root {
  --board-color: #9a8513;
  --snake-head-color: #35ca79;
  --snake-color: #609f7a;
  --food-color: #ca0ef1;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}

.board {
  position: relative;
  display: grid;
  border: 2px solid black;
  width: 35rem;
  height: 35rem;
}

.box {
  width: 1fr;
  height: 1fr;
  /* border: 1px solid black; */
  background-color: var(--board-color);
}

.hidden {
  display: none;
}

.play-button__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.play-button {
  padding: 1rem 1rem 1rem 1rem;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.snake__head {
  background-color: var(--snake-head-color);
}

.snake {
  background-color: var(--snake-color);
}

.food {
  background-color: var(--food-color);
}
